body {
    color: black;
    background: rgb(154, 208, 241);
    margin: 0px;
    font-family: "Shadows Into Light", cursive;
    margin-bottom: 100px;
 }

header {
    border-bottom: solid 2px rgba(4, 127, 241, 0.918);
    padding: 20px;
    font-size: 30px;
    color: rgba(4, 127, 241, 0.918);
}

.chamada {
  
    background:#a1f5f5;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamda-texto {
   margin-right: 5%;

}

h1{
    font-size: 30px;

}

p{
    font-size:20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity:  0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid blue;
}

.categoria h2 {
    color: rgba(8, 112, 209, 0.918);
}